<div class="container-md">
    <h1 class="my-5 heading-page">Trash Bin</h1>
    {{#each work}}
    <div class="row mb-3">
        <div class="col-12">
            <div class="item">
                <div class="row">
                    <div class="thumbnail">
                        <div class="form-check">
                            <input class="form-check-input" name="id" type="checkbox" value="{{this._id}}"
                                id="{{this._id}}">
                        </div>
                        <div class="circle my-auto d-none d-md-flex">
                            <h3 class="mx-auto text-white fs-1 first-char">A</h3>
                        </div>
                        <div class="rectangle my-auto d-block d-md-none"
                            style="width: 5px; height: 100%; background: red;"></div>
                    </div>
                    <div class="col-8 col-md-10 d-flex">
                        <div class="content my-auto">
                            <div class="row">
                                <h3 class="name">{{this.title}}</h3>
                            </div>
                            <div class="row">
                                <p>{{this.content}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-md-1">
                        <div class="row mb-2">
                            {{!--

                            When click delete button :
                            1. get the value of button (link's current document)
                            2. set href for delete button in modal(dialog)
                            3. show dialog

                            [Note]: Currently, the delete button as a link (to delete the document forever ! Remove
                            out
                            the database)

                            --}}
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDelete"
                                value="/delete/{{this._id}}/forever">
                                Delete
                            </button>
                        </div>


                        <div class="row">

                            {{!--

                            When click the undo button:
                            1. Set current document with 'delete' property from true to false.

                            --}}
                            <a class="btn btn-outline-primary btn-undo" href="/delete/{{this._id}}/undo">Undo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{#if empty}}
    <h1 class="center p-4 bg-info rounded-3 bg-opacity-25">Nothing At Here</h1>
    {{/if}}
    <script type="module" src="./javascript/delete.js" defer></script>
    <script type="module" src="./javascript/edit.js" defer></script>
</div>