<div class="container my-5">
    <div class="row gap-2">
        <div class="col-1">
            <ul>
                <li>
                    <span>Title</span>
                </li>
                <li>
                    <span>Time</span>
                </li>
                <li>
                    <span>Content</span>
                </li>
                <li>
                    <span>Delete / Finished</span>
                </li>
            </ul>
        </div>
        <div class="col-11">
            <form action="/edit/update" method="GET">
                <div class="mt-3">
                    <input type="text" name="title" value="{{work.title}}">
                </div>
                <div class="mt-3 d-flex gap-1">
                    <input class="col-12 col-md-3" type="text" name="hour" value="{{work.hour}}">
                    <input class="col-12 col-md-3" type="text" name="date" value="{{work.date}}">
                    <input class="col-12 col-md-3" type="text" name="month" value="{{work.month}}">
                    <input class="col-12 col-md-3" type="text" name="year" value="{{work.year}}">
                </div>
                <div class="mt-3">
                    <input type="text" name="title" value="{{work.content}}">
                </div>
                <div class="mt-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="delete" value="{{work.delete}}">
                        <label class="form-check-label" for="delete">Delete</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="finished" value="{{work.finished}}">
                        <label class="form-check-label" for="finished">Finished</label>
                    </div>
                </div>

                <div class="mt-3">
                    <button type="button" class="btn btn-outline-primary">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>