<div class="container-md">
    <div class="mt-5 mb-3 my-md-5">
        <h1>Work List</h1>
        {{#if bin_count}}
        <a href="/delete">Trash bin (<b class="bin-count">{{{bin_count}}}</b>)</a>
        {{/if}}
    </div>
    <form action="/edit/detail" method="POST">
        <div class="row">
            <div class="d-flex mb-3">
                <div class="col col-md-2">
                    <label for="type-edit" class="form-label">Type</label>
                    <select class="form-select form-select-lg" name="type_edit" id="type_edit">
                        <option value="" selected>--Select one--</option>
                        <option value="delete">Delete</option>
                        <option value="finish">Finish</option>
                    </select>
                </div>
                <div class="mb-0 mt-auto mx-3">
                    <button id="submit-all-btn" type="submit" class="btn btn-outline-primary" disabled="false">
                        Perform
                    </button>
                </div>
            </div>
        </div>

        {{#each work}}
        <div class="row mb-3">
            <div class="col-12">
                <div class="item item-show">
                    <div class="row">
                        <div class="thumbnail">
                            <div class="form-check">
                                <input class="form-check-input" name="id" type="checkbox" value="{{this._id}}"
                                    id="{{this._id}}">
                            </div>
                            <div class="circle my-auto d-none d-md-flex">
                                <h3 class="mx-auto text-white fs-1 first-char">A</h3>
                            </div>
                            <div class="rectangle my-auto d-block d-md-none"
                                style="width: 5px; height: 100%; background: red;"></div>
                        </div>
                        <div class="col-8 col-md-10 d-flex">
                            <div class="content my-auto">
                                <div class="row">
                                    <h3 class="name">{{this.title}}</h3>
                                </div>
                                <div class="row">
                                    <p>{{this.content}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 col-md-1">
                            <div class="row mb-2">
                                {{!-- <a class="btn btn-outline-primary" href="/delete/{{this._id}}">Delete</a> --}}
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                    data-target="#modalDelete" value="/delete/{{this._id}}">
                                    Delete
                                </button>

                            </div>
                            <div class="row">
                                {{!-- <a class="btn btn-outline-primary" href="/update/{{this._id}}">Edit</a> --}}
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                    data-target="#modalDelete" value="/edit/{{this._id}}">
                                    Edit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </form>
    <script>
        var colors = ['red', 'green', 'yellow', 'orange', 'blue'];

        $('.item .rectangle').each(function (index, element) {
            var i = Math.random() * colors.length;
            element.css(background, colors[i]);
        });
    </script>
</div>

<script type="module" src="./javascript/modal.js" defer></script>
<script type="module" src="./javascript/edit.js" defer></script>
<script type="module" src="./javascript/effects/item-show.js" defer></script>