<div class="container-fluid container-md my-5">
    <div class="row">
        <h1>To Day</h1>
        <span class="date_now text-primary"></span>
        <script>
            var date_now = document.querySelector('.date_now');
            date_now.innerHTML = new Date(Date.now()).toUTCString();

            setInterval(() => {
                date_now.innerHTML = new Date(Date.now()).toUTCString();
            }, 1000);
        </script>
    </div>
    <div class="row mt-4" style="row-gap: 20px;">
        {{#each work_today}}
        <div class="col-md-3 col">
            <div class="item">
                {{#if this.finished}}
                <span class="badge rounded-0">Done</span>
                {{/if}}
                <div class="item__head">
                    <h3>{{this.type}}</h3>
                    <span>{{this.short_description}}</span>
                </div>
                <div class="item__content">
                    <ul>
                        <li>
                            <b class="label">Title: </b>
                            <p>{{this.title}}</p>
                        </li>
                        <li>
                            <b class="label">Time: </b>
                            <p>{{this.hour}} {{this.date}}/{{this.month}}/{{this.year}}</p>
                        </li>
                        <li>
                            <b class="label">Content: </b>
                            <p>{{this.content}}</p>
                        </li>
                    </ul>
                </div>
                <div class="item__foot">
                    <div class="btn-group" role="group" aria-label="Button group name">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#modalDelete" value="/edit/{{this._id}}">
                            Update
                        </button>

                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#modalDelete" value="/finish/{{this._id}}">
                            Finished
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="row mt-5">
        <h1>All</h1>
        <span class="date_now"></span>
        <script>
            var date_now = document.querySelector('.date_now');
            date_now.innerHTML = Date.now().toStrings();
        </script>
    </div>
    <div class="row mt-4" style="row-gap: 20px;">
        {{#each work}}
        <div class="col-md-3 col">
            <div class="item">
                {{#if this.finished}}
                <span class="badge rounded-0">Done</span>
                {{/if}}
                <div class="item__head">
                    <h3>{{type}}</h3>
                    <span>{{short_description}}</span>
                </div>
                <div class="item__content">
                    <ul>
                        <li>
                            <b class="label">Title: </b>
                            <p>{{title}}</p>
                        </li>
                        <li>
                            <b class="label">Time: </b>
                            <p>{{this.hour}} {{this.date}}/{{this.month}}/{{this.year}}</p>
                        </li>
                        <li>
                            <b class="label">Content: </b>
                            <p>{{content}}</p>
                        </li>
                    </ul>
                </div>
                <div class="item__foot">
                    <div class="btn-group" role="group" aria-label="Button group name">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#modalDelete" value="/edit/{{this._id}}">
                            Update
                        </button>

                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#modalDelete" value="/finish/{{this._id}}">
                            Finished
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script type="module" src="./javascript/modal.js" defer></script>