<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Calendar: Work list">
    <meta name="author" content="Harryguci">
    <meta name="keywords" content="Calendar, To do list, plan">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar: {{titlePage}}</title>
    <link rel="shortcut icon" href="./images/monthly-calendar-svgrepo-com.svg" type="image/x-icon">
    <!-- Remember to include jQuery :) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js" defer></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <!-- BOOTSTRAP 5: CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- GOOGLE ICONS: -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }
    </style>

    <!-- GOOGLE FONT: ROBOTO-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap"
        rel="stylesheet">


    {{!-- Main CSS --}}
    <link rel="stylesheet" href="/css/main.css">

    {{!-- Other external files --}}
    {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}

</head>

<body>
    {{#if notify}}
    <!-- Notification -->
    <div class="top-bar m-0 p-0" style="background:rgb(255, 0, 0);">
        <div class="d-flex justify-content-center align-items-center py-1 h-100">
            <p class="my-auto d-block text-white my-auto" style="letter-spacing: 2px;">{{notify}}</p>
        </div>
    </div>
    <script>
        setTimeout(() => {
            document.querySelector('.top-bar').style.height = '0';
        }, 3000);
    </script>
    {{/if}}
    <header>
        <nav class="navbar navbar-expand-md">
            <div class="container">
                <a class="navbar-brand" href="/">Calendar</a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="/" aria-current="page">Home <span
                                    class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/" id="dropdownEdit" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Edit</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownEdit">
                                <a class="dropdown-item fw-bold" href="/edit">Edit</a>
                                <a class="dropdown-item fw-bold" href="/create">Create</a>
                                <a class="dropdown-item fw-bold" href="/delete">Delete</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/finish" class="nav-link">Finish</a>
                        </li>
                    </ul>
                    <form name="top-search-form" class="d-flex my-2 my-lg-0" action="/search" method="GET">
                        <input class="form-control rounded-0" name="q" type="text" placeholder="Search" required>
                        <button class="btn btn-search my-2 my-sm-0 rounded-0 mx-1 disabled" type="submit">
                            <span class="material-symbols-outlined">
                                search
                            </span>
                        </button>
                    </form>
                    <div class="p-2 bg-black rounded-3 bg-opacity-10 my-3 mx-md-2 my-md-0">
                        {{#if user.length}}
                        <div class="nav-item dropdown align-items-center">
                            <a class="nav-link dropdown-toggle dropdown-focus d-flex gap-1 my-auto text-white text-decoration-none"
                                href="/" id="dropdownAccount" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <span class="material-symbols-outlined text-white d-block my-auto">
                                    account_circle
                                </span><b>{{user}}</b>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item fw-bold" href="/account">Information</a>
                                <a class="dropdown-item fw-bold" href="/account/setting">Setting</a>
                                <a class="dropdown-item fw-bold" href="/login/logout?notify=Đã đăng xuất">Logout</a>
                            </div>
                        </div>
                        {{else}}
                        <a href="/login" class="px-3 nav-link text-white">Login</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="min-vh-100 my-5">
        {{{body}}}
    </main>
    {{!-- <div class="wrap center">
        <h2 class="text-center">Edit the work</h2>
        <form name="form-edit" action="/edit/id" method="POST" onsubmit="checkFormSub(event)">
            <div class="d-flex mt-4">
                <label class="col-md-1" for="title">Title</label>
                <input class="col col-md" name="title" id="title" type="text" placeholder="Work's Title" required>
            </div>
            <div class="mt-3 d-flex">
                <label class="col-md-1 mt-1 mt-md-auto" for="time">Time</label>
                <div class="d-block d-md-flex w-100 gap-3" style="">
                    <input class="col-12 col-md mb-2" name="hour" id="hour" type="text" placeholder="Hour:minute"
                        value="" required>
                    <input class="col-12 col-md mb-2 mb-md-0" name="date" id="date" type="text" placeholder="Date"
                        value="" required>
                    <input class="col-12 col-md mb-2 mb-md-0" name="month" id="month" type="text" placeholder="Month"
                        value="" required>
                    <input class="col-12 col-md mb-2 mb-md-0" name="year" id="year" type="text" placeholder="Year"
                        value="" required>
                </div>
            </div>
            <div class="mt-3 d-flex">
                <div class="mb-3 d-flex w-100 gap-3">
                    <label for="type" class="form-label col-1">Type</label>
                    <div class="col custom-select">
                        <select class="form-select" style="" name="type" id="type">
                            <option selected>--Select One--</option>
                            <option value="Common work">Common Work</option>
                            <option value="Study">Study</option>
                            <option value="Business">Business</option>
                            <option value="Pleasure">Pleasure</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mt-2 d-flex" style="flex-wrap: wrap;">
                <label class="col-12 col-md-1" for="content">Content</label>
                <textarea class="col-12 col-md" name="content" id="content" type="text" rows="5"
                    placeholder="Something..." required></textarea>
            </div>
            <div class="">
                <input type="hidden" name="user" value="{{user}}">
            </div>
            <div class="mt-5 mb-2 d-flex">
                <button type="submit" class="btn btn-outline-primary mx-auto px-5 py-2">Change</button>
            </div>
        </form>
    </div> --}}
    <footer class="py-5">
        <div class="container px-5 px-md-0 container-md mb-5">
            <div class="row">
                <div class="col-12 col-md-4 col-xl-3">
                    <h3 class="fs-1" style="padding-bottom: 10px;
                    width: fit-content;
                    border-bottom: 1px #ffffff solid;">
                        Calendar</h3>
                </div>
                <div class="col-12 col-md-4 col-xl-3">
                    <h3>About</h3>
                    <p>My full name is CHU QUANG HUY. I am an intern Web Developer. I have been studying at the
                        University of Transport and Communications (Hanoi, Vietnam) since 2021. I always try hard and
                        improve myself every day. My dream is to become a great programmer.</p>
                    <a href="/about" class="btn btn-1">Read more</a>
                </div>
                <div class="col-12 col-md-4 col-xl-3">
                    <h3>Contact</h3>
                    <ul>
                        <li class="footer__item d-flex align-items-center">
                            <span class="material-symbols-outlined">
                                call
                            </span>
                            <button type="button" class="btn copyButton text-white mx-2 copyButton"
                                value="+84967259370">(+84)967.259.370</button>
                        </li>
                        <li class="footer__item d-flex align-items-center">
                            <span class="material-symbols-outlined">
                                dashboard
                            </span>
                            <span class="mx-2">
                                <a target="_blank"
                                    href="https://www.facebook.com/chu.huy.020808/">fb.com/chu.huy.020808/</a>
                            </span>
                        </li>
                        <li class="footer__item d-flex align-items-center">
                            <span class="material-symbols-outlined">
                                wysiwyg
                            </span>
                            <span class="mx-2">
                                <a target="_blank" href="https://github.com/Harryguci">github.com/Harryguci</a>
                            </span>
                        </li>
                        <li class="footer__item d-flex align-items-center">
                            <span class="material-symbols-outlined">
                                mail
                            </span>
                            <span class="mx-2">
                                <button class="btn copyButton text-white" type="button"
                                    value="huyquang0028@gmail.com">huyquang0028@gmail.com</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-md text-center">
            <p>Copyright by Harryguci - 2022</p>
        </div>
    </footer>
    <!-- Modal -->
    <div class="modal center" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content overflow-hidden">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="exampleModalLongTitle">Modal title</h5>
                </div>
                <div class="modal-body fs-5">
                    ...
                </div>
                <div class="modal-footer d-flex justify-content-center btn-group gap-0">
                    <button type="button" class="btn btn-secondary col-6 mx-0" data-dismiss="modal">Cancel</button>
                    <a href="/" type="button" class="btn btn-primary btn-delete col-4 mx-0">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Notification -->
    {{!-- <div class="notification-container position-fixed bg-white rounded-3" style="">
        <div class="notification__head p-3">
            <h4 class="text-white fw-bold">Notification</h4>
        </div>
        <div class="notification__main p-3">
            <p>Some texts in here</p>
        </div>
        <div class="notification__foot">
            <div class="processor"></div>
        </div>
    </div> --}}


</body>

<!-- BOOTSTRAP 5: JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>

<script src="/javascript/navbar.js" defer></script>
<script type="module" src="/javascript/notification.js" defer></script>
<script type="module" src="/javascript/copybutton.js" defer></script>

{{#if javascript}}
{{#each javascript}}
<script type="{{this.type}}" src="/javascript/{{this.file}}" defer></script>
{{/each}}
{{/if}}

</html>