<div class="container-md">
    <div class="my-5">
        <h1 class=""><b>Search Result:</b>
            <small style="font-style: italic;">'{{textSearch}}'</small>
        </h1>
        <span class="fs-4 text-primary"><b style="margin-right: 10px;">Total:</b> {{{work.length}}}</span>
    </div>
    {{#if work.length}}
    {{#each work}}
    <div class="row mb-3">
        <div class="col-12">
            <div class="item">
                <div class="row">
                    <div class="thumbnail d-none d-md-block">
                        <div class="circle my-auto">
                            <h3 class="mx-auto text-white fs-1 first-char">A</h3>
                        </div>
                    </div>
                    <div class="col-5 col-md-9 d-flex">
                        <div class="content my-auto">
                            <div class="row">
                                <h3 class="name fw-bold">{{this.title}}</h3>
                            </div>
                            <div class="row">
                                <p>{{this.content}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-1 d-flex align-items-center">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#modalDelete" value="/update/{{this._id}}">
                            Update
                        </button>
                    </div>
                    <div class="col col-md-1">
                        <div class="row mb-2" style="width: fit-content;">
                            <span>
                                <b>Delete:</b>
                                {{#if this.delete}}
                                <span>TRUE</span>
                                {{else}}
                                <span>FALSE</span>
                                {{/if}}
                            </span>
                        </div>
                        <div class="row" style="width: fit-content;">
                            <span>
                                <b>Finish:</b>
                                {{#if this.finished}}
                                <span>TRUE</span>
                                {{else}}
                                <span>FALSE</span>
                                {{/if}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}

    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
        <h2 class="fs-1 p-3 bg-info bg-opacity-25 rounded-2">Not found</h2>
    </div>

    {{/if}}
</div>

<script type="module" src="./javascript/edit.js" defer></script>
<script type="module" src="./javascript/modal.js" defer></script>